Basic analysis of store 781(either customellow, kolon).

Sequentially crawled(using since) from http://walkinsights.com/api/v1/shops/781/sessions?&limit=10000&user_token=77eFJPB37UkgYyLjWZrx&user_email=jeeyeachung@kolon.com

In [2]:
import pandas as pd

In [5]:
df = pd.read_pickle("../data/781.p")

In [7]:
df.tail(10)

,area,deny,device_id,dwell_time,key,revisit_count,revisit_period,ts
3962126,out,True,44689a999123656a443f2d9bdd39d3df,14208,781:7feb09773901772a:out,NaN,NaN,1440568078312
3962127,1f,NaN,028a1f4dbca00ed06814fdda60f1b599,2497,781:7feb09773985e932:1f,NaN,NaN,1440568076193
3962128,b1,NaN,028a1f4dbca00ed06814fdda60f1b599,628,781:7feb09773985e932:b1,NaN,NaN,1440568076193
3962129,in,NaN,028a1f4dbca00ed06814fdda60f1b599,2497,781:7feb09773985e932:in,NaN,NaN,1440568076193
3962130,out,NaN,d16c36ff62b04a89a51e68bd0b9c7a82,25972,781:7feb097739e7b7ec:out,NaN,NaN,1440568074628
3962131,out,NaN,d0554ae8254cf22edae87bce9230b57e,25981,781:7feb09773aa56e59:out,NaN,NaN,1440568071593
3962132,out,NaN,028a1f4dbca00ed06814fdda60f1b599,2673,781:7feb09773ac347cb:out,NaN,NaN,1440568071115
3962133,out,NaN,373b818105152ed3ea1e503a2690ad8e,25971,781:7feb09773ae4ce78:out,NaN,NaN,1440568070579
3962134,out,True,8b4357a377e3673d44489d67eee696ac,26023,781:7feb09773b1a576d:out,NaN,NaN,1440568069722
3962135,out,NaN,c96d2af5dde757bf8caa8712818d984a,25906,781:7feb09773b1f2d03:out,NaN,NaN,1440568069645

In [8]:
device_ids = df['device_id'].unique()
print (len(device_ids))
print (df.shape)

1526073
(3962136, 8)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3962136 entries, 0 to 3962135
Data columns (total 8 columns):
area              object
deny              object
device_id         object
dwell_time        int64
key               object
revisit_count     float64
revisit_period    float64
ts                int64
dtypes: float64(2), int64(2), object(4)
memory usage: 241.8+ MB

In [10]:
df.loc[:,"revisit_count"].value_counts(ascending=True)

85.0        27
82.0        27
83.0        42
84.0        58
86.0        94
81.0       161
87.0       176
58.0       259
48.0       271
56.0       274
62.0       281
60.0       281
42.0       298
68.0       309
43.0       319
64.0       324
63.0       328
70.0       329
80.0       366
40.0       367
79.0       370
39.0       373
41.0       378
44.0       378
50.0       379
38.0       379
45.0       387
34.0       391
46.0       412
37.0       412
         ...
27.0       613
22.0       619
16.0       671
20.0       671
19.0       687
77.0       747
76.0       748
57.0       824
18.0       854
15.0       859
78.0       991
90.0       993
13.0      1034
12.0      1130
14.0      1134
74.0      1428
75.0      1513
88.0      1619
10.0      1622
89.0      1654
11.0      1661
9.0       2330
8.0       2696
7.0       3670
6.0       3944
5.0       5158
4.0      10239
3.0      17591
2.0      35772
1.0     149888
Name: revisit_count, dtype: int64

In [11]:
df.loc[:,"device_id"].value_counts(ascending=True)

04234bfeb6036f5199bac2b583e307f9        1
6d5b183844adb44bfbd0519e1eb93b9a        1
bd58d6cd32851d53f45acc6a382bfe54        1
8ac98255df88f3f33ea1f7625df9be8a        1
cded69718e20356597ec31e5aa978cda        1
8dfaf6ae4b580dcc98f6f6b7c58135ee        1
4b465d14d9c599ea603b7b418cd17e72        1
a20d8267b52ac60c64700a372bdcbea0        1
ec268ca513e9c2e88a359f862c361f96        1
578a609476886aecaa89d2600b60945b        1
1e39fb91a85e2cfc22717212817a6abe        1
511701ec11cd3ab112b8eb86a84baf2a        1
c12f4e5a89578c782ed6c4209db7b4a3        1
af3520f84dbbc36700685a4f2488037d        1
cadd63f10f03f2ef5cbdfdeecb8244c3        1
1726b789e8f75f08901916abaf99b397        1
fd5563bc4d4014f690e08be2836d9f05        1
387774d214ce3a058f53e7cc48443d10        1
771816849a3e8f7ef8287c610785a1c9        1
4c18310654d6ef4b472beee0495f53c2        1
311841f9b6349bbe0a873f79f58b8eeb        1
6e5ec48996a05bb779253ae2805db8ac        1
e8045364664c6923b414c61fccf66519        1
3a85a56b34cc6734621fe6f6ed748b1d        1
05a65efe571cc46c0d3d312d0ba923c1        1
b327e55f391879de0dc9ebdc65a033aa        1
f0232c7f7e86e19eeb8baaea83aa8be5        1
30ae96283583b1f50fd50e4c3660a2be        1
40f8a51666308c24f8893ccd9f22ca7b        1
507f47eda6b48c1dfb1142d497ee742e        1
                                    ...
ff9b6eb2a29795fd04135e7ae550b1b8     2162
f076ab559ef130c78ab7123d3807c1fc     2235
e529f40f1d247adfa250cb83887a2086     2257
d9ec5bf041949ce011c1b3150b1d3871     2394
4b86f085545e6439e1afb68126d0ece6     2436
812c3399f7dd8e4926e01364a7b7f800     2463
839d202915edc20699f08f733d46f030     2674
5ea0dd92e5123e6a8d6232cfe542a8b4     2923
4f4d40271b9606435793b546b447dc2c     3014
76b4e4495f7310c6d053720caf4dc2c3     3109
15493306b1ea43056a690005e664d346     3241
af3a382fb40b3f14c6141806e56d1a9e     3342
ceb0005b0d1e75950118f92c16d9a619     3438
e8b2d90a20d53d6a8d6d77d4467cda1b     3486
0d4fd55bb363bf6f6f7f8b3342cd0467     3489
ca28a4c8953d911f550f28efc7d28706     3514
abc379b11e6d867c7df570cd72e508fa     3517
1db3536d99f40283b39fa9b3f65de2e7     3563
d1f927011e90b5a5ec535158841c51de     3732
89867a9ca3bccf50cad7f88dce3d420e     3919
62ba29fbc3967fc0e17cf052fd0c9c9c     3922
f14146dbd85d847824cca6e2edeb634e     4303
7961e337158a5b699a0d6314a7c680b1     4314
e0431137960d72a4e08ccc8863a5a4fb     4336
33c5ed9c41a8701c06b3732c40c65a1c     4404
bc4573cb1e7583be35ef91cc2522de01     4465
39cea245c27b942333494864db1acb6d     5440
44689a999123656a443f2d9bdd39d3df     9296
cae0f3cb170db4ae18897d6af8497c38     9434
f6258edf9145d1c0404e6f3d7a27a29d    13196
Name: device_id, dtype: int64

In [12]:
df.loc[:,"dwell_time"].value_counts(ascending=True)

33780          1
37798          1
15283          1
19389          1
21438          1
13235          1
10130          1
31674          1
29629          1
17341          1
9138           1
31673          1
25530          1
17342          1
35750          1
9139           1
44931          1
13232          1
19386          1
21433          1
23480          1
7085           1
32665          1
37820          1
25507          1
9131           1
30616          1
35774          1
41892          1
15287          1
          ...
29         19215
27         19601
26         19919
25         20760
24         21552
23         21656
31         22161
18         22696
22         22894
17         23325
16         24343
30         24518
14         24580
19         24784
13         25120
15         25490
21         27350
12         28095
9          31467
11         32635
20         33168
10         33727
8          34037
7          39512
6          47461
5          61582
4          69062
2          72852
3          90283
0        1638547
Name: dwell_time, dtype: int64

In [13]:
df.loc[:,"area"].value_counts(ascending=True)

b1-left-2          321
left-2            2375
b1-left-3         2424
b1-left-1         2529
1f-left-1         3431
b1-center-1       3487
b1-center-2       3558
b1-right          4061
left-test         4987
right-test        6329
1f-left-2         6956
1f-right-1       10006
1f-right-2       18871
b1               34315
1f               64512
in               82912
out            3711062
Name: area, dtype: int64